<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="vi">

<head>
	<%- include ('../../partials/head') %>
	<title>Sản phẩm và dịch vụ</title>
	<style>
		.callout {
			padding: 10px;
			margin: 10px 0;
			border: 1px solid #eee;
			border-left-width: 5px;
			border-radius: 3px;
		}

		.callout-primary {
			border-left-color: #007BFF;
		}

		.input-group {
			margin: 10px 0;
		}

		.select2-container--bootstrap4 .select2-selection--multiple .select2-selection__choice {
			background-color: #007bff;
			color: #ffffff !important;
		}

		span.select2.select2-container.select2-container--below.select2-container--bootstrap4.select2-container--focus {
			max-width: 660px;
			height: auto;
		}

		span.select2.select2-container.select2-container--bootstrap4.select2-container--below {
			max-width: 660px;
			height: auto;
		}

		ul.select2-selection__rendered span.select2-selection.select2-selection--multiple {
			max-width: 660px;
			height: auto;
		}

		span.select2-selection.select2-selection--multiple {
			max-width: 660px;
			height: auto;
		}

		.pointer {
			cursor: pointer;
		}
	</style>
	<!-- Select2 -->
	<link rel="stylesheet" href="/assets/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="/assets/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
</head>

<body class="hold-transition sidebar-mini sidebar-collapse">
	<div class="wrapper">
		<%- include ('../../partials/header') %>
		<%- include ('../../partials/menu') %>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<div class="container-fluid">
					<div class="callout callout-primary">
						<div class="row">
							<div class="col-auto mr-auto">
							</div>
							<div class="col-auto">
								<button type="button" class="btn btn-primary float-right" data-toggle="modal"
									data-target="#create_new">Tạo mới</button>
							</div>
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content-header -->

			<!-- Main content -->
			<section class="content">
				<div class="container-fluid">
					<!-- Small boxes (Stat box) -->
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header" style="background-color: black;">
									<h3 class="card-title" style="color: whitesmoke;">Danh sách sản phẩm</h3>
									<div class="card-tools">
										<div class="input-group input-group-sm" style="width: 150px;">
											<input type="text" name="table_search" class="form-control float-right"
												id="search_word" placeholder="Tìm">

											<div class="input-group-append">
												<button type="submit" class="btn btn-default" onclick="get_data()"><i
														class="fas fa-search"></i></button>
											</div>
										</div>
									</div>
								</div>
								<!-- /.card-header -->
								<div class="card-body table-responsive p-0" id="show_data">
								</div>
								<!-- /.card-body -->
								<div class="card-footer clearfix" id="pagination">
								</div>
								<!-- /.card-footer -->
							</div>
							<!-- /.card -->
						</div>
					</div>
				</div><!-- /.container-fluid -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Modal create product -->
		<div class="modal" id="create_new" tabindex="-1" role="dialog" aria-labelledby="create_store">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Tạo sản phẩm - dịch vụ </h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">Tên</div>
							</div>
							<input type="text" class="form-control" id="name" placeholder="Nhập tên" aria-label="Name">
						</div>
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<div class="input-group-text">Loại</div>
							</div>
							<select class="custom-select" id="type_product_service">
								<option value="product">Sản phẩm</option>
								<option value="service">Dịch vụ</option>
								<option value="hair_removel">Triệt lông</option>
								<option value="combo">Combo</option>
							</select>
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">Mã số</div>
							</div>
							<input type="text" class="form-control" id="number_code" placeholder="Nhập mã tắt"
								aria-label="Number code">
						</div>
						<div class="input-group combo-off">
							<div class="input-group-prepend">
								<div class="input-group-text">Nhóm</div>
							</div>
							<select class="select2bs4" multiple="multiple" id="group">
							</select>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" data-toggle="modal" data-target="#new_group"
									type="button"><i class="fas fa-plus"></i></button>
							</div>
						</div>
						<div class="input-group times_choose" style="display:none;">
							<div class="input-group-prepend">
								<div class="input-group-text">Số lần dịch vụ</div>
							</div>
							<select class="form-control" id="times_choose">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
								<option value="99999">Không giới hạn</option>
							</select>
						</div>
						<div class="input-group times_service" style="display:none;">
							<div class="input-group-prepend">
								<div class="input-group-text">Số phút làm dịch vụ</div>
							</div>
							<input type="number" step="1" class="form-control" id="times_service">
						</div>
						<div class="input-group combo-off" id="brand_show">
							<div class="input-group-prepend">
								<div class="input-group-text">Thương hiệu</div>
							</div>
							<select class="custom-select" id="brand">
							</select>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" data-toggle="modal" data-target="#new_brand"
									type="button"><i class="fas fa-plus"></i></button>
							</div>
						</div>
						<div class="input-group combo-on" style="display: none;">
							<div class="input-group-prepend">
								<span class="input-group-text">Thêm vào combo</span>
							</div>
							<select class="form-control select2bs4" id="select_items">

							</select>
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="button"
									onclick="add_combo()">Chọn</button>
							</div>
						</div>
						<div class="card-body p-0 combo-on" style="display: none;">
							<table class="table table-bordered table-sm">
							  <thead style="background-color: #e9ecef;">
								<tr>
								  <th width="20%">Mã</th>
								  <th width="25%">Tên</th>
								  <th width="20%">Giá vốn</th>
								  <th width="10%">Số lượng</th>
								  <th width="15%">Tổng cộng</th>
								  <th width="10%"></th>
								</tr>
							  </thead>
							  <tbody id="add_items">
			
							  </tbody>
							</table>
						</div>
						<div class="input-group hair-removel" style="display: none;">
							<div class="input-group-prepend">
								<div class="input-group-text">Tiền dịch vụ cho nhân viên</div>
							</div>
							<input type="currency" class="form-control" id="service_price" placeholder="Nhập giá"
								aria-label="Price">
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">Giá vốn</div>
							</div>
							<input type="currency" class="form-control" id="cost_price" placeholder="Nhập giá"
								aria-label="Price">
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<div class="input-group-text">Giá bán</div>
							</div>
							<input type="currency" class="form-control" id="price" placeholder="Nhập giá"
								aria-label="Price">
						</div>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">Mô tả</span>
							</div>
							<textarea class="form-control" id="description" rows="5"
								aria-label="Description"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
						<button type="button" class="btn btn-primary" onclick="create_new();"
							data-dismiss="modal">Tạo</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal create product -->

		<!-- Modal edit product -->
		<div class="modal" id="edit_data" tabindex="-1" role="dialog" aria-labelledby="edit_data">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Chỉnh sửa thông tin sản phẩm - dịch vụ </h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<ul class="nav nav-tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="edit-information" data-toggle="pill"
									href="#edit-information-tab" role="tab" aria-controls="edit-information-tab"
									aria-selected="true">Thông tin</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="edit-stock" data-toggle="pill" href="#edit-stock-tab" role="tab"
									aria-controls="edit-stock-tab" aria-selected="false">Hàng tồn</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="edit-history" data-toggle="pill" href="#edit-history-tab" role="tab"
									aria-controls="edit-history-tab" aria-selected="false">Lịch sử hàng hóa</a>
							</li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade active show" id="edit-information-tab" role="tabpanel"
								aria-labelledby="edit-information">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text" id="btnGroupAddon1">Tên</div>
									</div>
									<input type="text" class="form-control" id="edit_name" placeholder="Nhập tên"
										aria-label="Name" aria-describedby="btnGroupAddon1">
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">Loại</div>
									</div>
									<select class="custom-select" disabled id="edit_type_product_service">
										<option value="product">Sản phẩm</option>
										<option value="service">Dịch vụ</option>
										<option value="hair_removel">Triệt lông</option>
										<option value="combo">Combo</option>
									</select>
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text" id="btnGroupAddon2">Mã số</div>
									</div>
									<input type="text" class="form-control" id="edit_number_code"
										placeholder="Nhập mã tắt" aria-label="Number code"
										aria-describedby="btnGroupAddon2">
								</div>
								<div class="input-group combo-off">
									<div class="input-group-prepend">
										<div class="input-group-text">Nhóm</div>
									</div>
									<select class="select2bs4" multiple="multiple" id="edit_group">
									</select>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" data-toggle="modal"
											data-target="#new_group" type="button"><i class="fas fa-plus"></i></button>
									</div>
								</div>
								<div class="input-group combo-off" id="edit_brand_show">
									<div class="input-group-prepend">
										<div class="input-group-text">Thương hiệu</div>
									</div>
									<select class="custom-select" id="edit_brand">
									</select>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" data-toggle="modal"
											data-target="#new_brand" type="button"><i class="fas fa-plus"></i></button>
									</div>
								</div>
								<div class="input-group edit-times-choose" style="display:none;">
									<div class="input-group-prepend">
										<div class="input-group-text">Số lần dịch vụ</div>
									</div>
									<select class="form-control" id="edit_times_choose">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="99999">Không giới hạn</option>
									</select>
								</div>
								<div class="input-group edit-times-service" style="display:none;">
									<div class="input-group-prepend">
										<div class="input-group-text">Số phút làm dịch vụ</div>
									</div>
									<input type="number" step="1" class="form-control" id="edit_times_service">
								</div>
								<div class="input-group combo-on" style="display: none;">
									<div class="input-group-prepend">
										<span class="input-group-text">Thêm vào combo</span>
									</div>
									<select class="form-control select2bs4" id="edit_select_items">
		
									</select>
									<div class="input-group-append">
										<button class="btn btn-outline-secondary" type="button"
											onclick="edit_add_combo()">Chọn</button>
									</div>
								</div>
								<div class="card-body p-0 combo-on" style="display: none;">
									<table class="table table-bordered table-sm">
									  <thead style="background-color: #e9ecef;">
										<tr>
										  <th width="20%">Mã</th>
										  <th width="25%">Tên</th>
										  <th width="20%">Giá vốn</th>
										  <th width="10%">Số lượng</th>
										  <th width="15%">Tổng cộng</th>
										  <th width="10%"></th>
										</tr>
									  </thead>
									  <tbody id="edit_add_items">
					
									  </tbody>
									</table>
								</div>
								<div class="input-group edit-hair-removel" style="display: none;">
									<div class="input-group-prepend">
										<div class="input-group-text">Tiền dịch vụ cho nhân viên</div>
									</div>
									<input type="currency" class="form-control" id="edit_service_price" placeholder="Nhập giá"
										aria-label="Price">
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text" id="btnGroupAddon4">Giá vốn</div>
									</div>
									<input type="currency" class="form-control" disabled id="edit_cost_price"
										aria-label="Price" aria-describedby="btnGroupAddon4">
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text" id="btnGroupAddon3">Giá</div>
									</div>
									<input type="currency" class="form-control" id="edit_price" aria-label="Price"
										aria-describedby="btnGroupAddon3">
								</div>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text">Mô tả</span>
									</div>
									<textarea class="form-control" id="edit_description" rows="5"
										aria-label="Description"></textarea>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text" for="is_Active">Trạng thái</div>
									</div>
									<select class="custom-select" id="isSale">
										<option value="true">Đang kinh doanh</option>
										<option value="false">Ngừng kinh doanh</option>
									</select>
								</div>
							</div>
							<div class="tab-pane fade" id="edit-stock-tab" role="tabpanel" aria-labelledby="edit-stock">

							</div>
							<div class="tab-pane fade" id="edit-history-tab" role="tabpanel" aria-labelledby="edit-history">

							</div>
						</div>
						<input type="hidden" id="edit_id" value="" />
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
						<button type="button" class="btn btn-danger" onclick="comform_delete_data();"
							data-dismiss="modal"><i class="far fa-trash-alt"></i> Xóa</button>
						<button type="button" class="btn btn-primary" onclick="update_data();" data-dismiss="modal"><i
								class="far fa-edit"></i> Sửa</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal edit product -->

		<!-- Modal new brand-->
		<div class="modal" id="new_brand" tabindex="-1" role="dialog" aria-labelledby="new_brand"
			data-backdrop="static">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Tạo Thương hiệu mới</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Tên</span>
								</div>
								<input type="text" class="form-control" id="new_name_brand"
									placeholder="Tên Thương Hiệu" aria-label="Name">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
						<button type="button" class="btn btn-primary" onclick="new_name_brand();"
							data-dismiss="modal">Tạo</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal new brand -->

		<!-- Modal new group-->
		<div class="modal" id="new_group" tabindex="-1" role="dialog" aria-labelledby="new_group"
			data-backdrop="static">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Tạo Nhóm mới</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									<span class="input-group-text">Tên</span>
								</div>
								<input type="text" class="form-control" id="new_name_group" placeholder="Tên Nhóm"
									aria-label="Name">
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
						<button type="button" class="btn btn-primary" onclick="new_name_group();"
							data-dismiss="modal">Tạo</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Modal new brand -->
		<input type="hidden" id="_csrf" value="<%=csrfToken %>" />
		<%- include ('../../partials/footer') %>
		<script src="/dist/js/admin_manager/admin_product_service.js"></script>
		<!-- Select2 -->
		<script src="/assets/plugins/select2/js/select2.full.min.js"></script>
</body>

</html>