<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="vi">
<head>
  <%- include ('../partials/head') %>
  <style>
	.login-box,
	.register-box {
	  width: 600px;

	  @media (max-width: map-get($grid-breakpoints, sm)) {
		margin-top: .5rem;
		width: 90%;
	  }
	}
	@media screen and (max-width:500px) {
	  .login-box, .register-box {
		width: 100%;
		
	  }
	}
  </style>
  <title>Home</title>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<div class="wrapper">
  <%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#" style="font-size: 40px; color: #bd7844;"><b>Power by Nospk</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body ">
		  <p class="login-box-msg">Đăng ký</p>
          <form action="/admin/signup" method="POST">
              <% if (error.length > 0) { %>
              <div class="alert alert-danger"><%- error %></div>
              <% } %>

               <% if (success.length > 0) { %>
              <div class="alert alert-success"><%- success %></div>
              <% } %>
            <div class="input-group mb-3">
				<div class="input-group-prepend">
					<div class="input-group-text">
					  <span class="fas fa-store"></span>
					</div>
				</div>
				<input type="text" id="name" onchange="get_name_extension(this)" name="name"class="form-control" placeholder="Tên Công Ty">
            </div>
            <div class="input-group mb-3">
			  <div class="input-group-prepend">
				<span class="input-group-text"><i class="fas fa-user"></i></span>
			  </div>
			  <input type="text" class="form-control" name="username" placeholder="Tên Tài khoản quản lý">
			  <div class="input-group-append">
				<span class="input-group-text" id="name_extension">...</span>
			  </div>
			</div>
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
              <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu">
            </div>
			<input type="hidden" name="name_extension" class="form-control" value="" />
			<input type="hidden" id="_csrf" name="_csrf" class="form-control" value="<%=csrfToken %>" />
            <div class="row">
              <div class="col-6">
				<input class="btn btn-primary btn-block" onclick="document.location.href = '/admin/login'" value="Đăng nhập">
              </div>
              <!-- /.col -->
              <div class="col-6">
                <button type="submit" class="btn btn-success btn-block">Xác nhận</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </div>
  <!-- /.login-page -->
  </div>
  <!-- /.content-wrapper -->


  <%- include ('../partials/footer') %>
</body>
<script>
	function get_name_extension(name){
		let name_extension = change_alias($(name).val())
		$('#name_extension').text(name_extension)
		$('input[name ="name_extension"]').val(name_extension)
	}
	function change_alias(alias) {
		var str = alias;
		str = str.toLowerCase();
		str = str.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g,"a"); 
		str = str.replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ/g,"e"); 
		str = str.replace(/ì|í|ị|ỉ|ĩ/g,"i"); 
		str = str.replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ/g,"o"); 
		str = str.replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g,"u"); 
		str = str.replace(/ỳ|ý|ỵ|ỷ|ỹ/g,"y"); 
		str = str.replace(/đ/g,"d");
		str = str.replace(/!|@|%|\^|\*|\(|\)|\+|\=|\<|\>|\?|\/|,|\.|\:|\;|\'|\"|\&|\#|\[|\]|~|\$|_|`|-|{|}|\||\\/g," ");
		str = str.replace(/\s+/g,"");
		str = str.trim(); 
		return '.' + str;
	}
	
</script>
</html>
