<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html lang="vi">
<head>
  <%- include ('../partials/head') %>
  <title>Home</title>
  <style>
	.login-box,
	.register-box {
	  width: 600px;

	  @media (max-width: map-get($grid-breakpoints, sm)) {
		margin-top: .5rem;
		width: 90%;
	  }
	}
  </style>
</head>
<body class="hold-transition sidebar-mini sidebar-collapse">
<div class="wrapper">
  <%- include ('../partials/header') %>
  <%- include ('../partials/menu') %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <div class="login-page">
    <div class="login-box">
      <div class="login-logo">
        <a href="#" style="font-size: 40px; color: #bd7844;"><b>Power by Nospk</b></a>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body">
          <p class="login-box-msg">Đăng nhập</p>
    
          <form action="/login" method="POST">
            <% if (error.length > 0) { %>
              <div class="alert alert-danger"><%- error %></div>
            <% } %>

            <% if (success.length > 0) { %>
              <div class="alert alert-success"><%- success %></div>
            <% } %>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fas fa-store"></span>
                </div>
              </div>
			  <input type="text" id="username" name="username"class="form-control" placeholder="Nhập tài khoản">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
			  <input type="password" id="password" name="password" class="form-control" placeholder="Nhập mật khẩu">
            </div>
			<input type="hidden" id="_csrf" name="_csrf" class="form-control" value="<%=csrfToken %>" />
            <div class="row">
              <div class="col-6">
				<input class="btn btn-primary btn-block" onclick="document.location.href = '/signup'" value="Đăng ký">
              </div>
              <!-- /.col -->
              <div class="col-6">
                <button type="submit" class="btn btn-success btn-block">Xác nhận</button>
              </div>
              <!-- /.col -->
            </div>
          </form>
        </div>
        <!-- /.login-card-body -->
      </div>
    </div>
    <!-- /.login-box -->
  </div>
  <!-- /.login-page -->
  </div>
  <!-- /.content-wrapper -->


  <%- include ('../partials/footer') %>
</body>
</html>
